/* MENU LEFT */
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-icon {
    width: 30px;
    margin-right: 10px;
}

/* SLIDER */
.sub-text {
    min-width: 115px;
    text-align: center;
}

/* HOME */
.th-dots {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 155px !important;
    white-space: nowrap;
}

/* CHAPTER */
.custom-chapter {
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    white-space: nowrap;
    text-align: left !important;
    margin-bottom: 10px;
}

/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination strong {
    margin: 0 5px;
    background: #ccc;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    cursor: no-drop;
}

.pagination a {
    margin: 0 5px;
    background: blue;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}