/*Header******************************/

.custom-position {
    position: absolute;
    top: -55px;
    right: 0px;
}

#text-search,
#text-search:active,
#text-search:hover {
    border: none;
    background-color: transparent !important;
    color: #fff;
}

.typeahead.dropdown-menu {
    opacity: 1;
    visibility: unset;
    top: 60px !important;
}

@media (max-width: 575px) {
    .headroom {
        padding: 0px 10px !important;
    }
}

@media (max-width: 991px) {
    .headroom {
        padding: 0px 10px !important;
    }
}


/*Content************************************/

.img-fluid.img-fluid-stories {
    height: 300px;
}

.text-uppercase.mb-2.catalog {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-border::before {
    display: none;
}

.text-left.fix-title-1-line a {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #585757;
}

.text-dark.fix-title-2-line {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 0px 16px;
    min-height: 45px;
}

.login-user {
    padding: 50px 0px;
}

.login-user.login-form {
    display: flex;
    align-items: center;
}

.title-border {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.section.section-content {
    padding-bottom: 0px;
    padding-top: 0px;
}

.section-detail {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section.section-top-page {
    padding-top: 50px;
}

.cus-class-12 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #585757;
    padding-top: 10px;
    margin-right: 10px;
}

.cus-class-6 {
    position: relative;
    width: 50%;
    float: left;
}

.btn-click.row {
    justify-content: center;
}

.dropdown-menu.list-chapter {
    padding: 0 5px;
}

a.current-chap {
    color: #ff6f00 !important;
}

.custom-border {
    border-bottom: 1px solid rgba(0, 0, 0, .15)
}

.scrollbar-style-2.scrollbar {
    min-height: 500px;
    height: 500px;
}

#style-1::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #FF8C33;
}

.col-lg-6.media.mb-4 {
    float: left;
}


/*Zoom image*****************************************/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: red;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 99;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
        z-index: 1;
    }
}

#custom-model-zoom-image {
    z-index: 9999;
}

.pagination strong {
    font-family: "nunito";
    font-size: 20px;
    color: #fff;
    background-color: orange;
    padding: 6px 18px;
    border: 1px solid orange;
    margin: 10px 2px;
    text-decoration: none;
}

.pagination a {
    font-family: "nunito";
    font-size: 20px;
    border: 0;
    color: #585757;
    border: 1px solid orange;
    margin: 10px 2px;
}

.section-search {
    padding-top: 50px;
}

.force-overflow-new {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.force-overflow-new img {
    vertical-align: middle;
    border: 0;
    width: 100% !important;
    height: auto!important;
    margin: 0 auto !important;
}

.text-dark {
    font-size: 17px;
}

.box-content-centers.product,
.box-content-center.product {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}

.new-links {
    padding: 8px 2px;
}


/*Footer************************************/

.text-center.pb-3.color-text {
    color: #fff;
}